table {
  margin-top: 2vh;
  margin-bottom: 4vh;
  border-collapse: collapse;
}

thead tr {
  border-bottom: 1px solid hsl(0, 0%, 65%);
}

tr {
  text-align: right;
  border-bottom: 1px solid hsl(0, 0%, 85%);
}

th {
  font-weight: 600;
}

th,
td {
  padding: 0.15em 0.75em;
  white-space: nowrap;
}

.country {
  flex: 1 0 100%;
  margin-right: 1rem;
}

.country-chart {
  display: grid;
  grid-template-areas:
    'values'
    'keys';
  margin-bottom: 4vh;
  margin-top: 1rem;
  max-width: 88rem;
}

.linewrapper {
  grid-area: values;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  width: 99%;
  height: 48vh;
  min-height: 26rem;
  font-size: 0.83rem;
  font-weight: 600;
  color: hsl(0, 0%, 40%);
}

.chart-line-log {
  flex: 0 0 16.666%;
  border-top: 1px solid hsla(3, 93%, 60%, 0.4);
}

.chart-line-lin {
  flex: 0 0 8.333%;
  border-top: 1px solid hsla(3, 93%, 60%, 0.4);
}

.barwrapper {
  grid-area: values;
  height: 48vh;
  min-height: 26rem;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  z-index: 35;
  width: 99%;
}

.case-bar {
  background-color: hsla(0, 0%, 85%, 0.6);
  border: 1px solid hsl(0, 0%, 75%);
  margin-right: -1px;
  flex: 1 1 auto;
  font-size: 0.7rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1;
  padding-right: 0.5em;
  padding-left: 0.5em;
  padding-top: 0.25em;
}

.keys {
  margin-top: 0.6rem;
  grid-area: keys;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  margin-bottom: 1rem;
  width: 99%;
}

.case-key {
  margin-right: -1px;
  flex: 1 1 auto;
  font-size: 0.7rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 1;
  padding-right: 0.5em;
  padding-left: 0.5em;
  border: 1px solid transparent;
  white-space: nowrap;
}
