@import 'reset.css';
@import 'stats.css';

html {
  height: 100%;
  font-size: 100%;
  line-height: 135%;
  color: hsl(0, 0%, 15%);
  font-weight: normal;
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif;
}

body {
  height: 100%;
  background-color: hsl(0, 0%, 95%);
}

header {
  background-color: hsl(0, 0%, 90%);
  padding: 0.6rem 2.5vw 0.5rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 75%);
}

h1 {
  font-size: 1.17rem;
  font-weight: 800;
  margin-right: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.1em;
  color: hsl(0, 56%, 60%);
}

h1 span {
  font-weight: 500;
}

nav,
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: 1em;
}

button,
.btndeact {
  border: 1px solid hsl(0, 0%, 70%);
  padding: 0.3em 0.6em;
  font-size: 0.8rem;
  line-height: 1.4;
  margin-right: -1px;
}

.btndeact {
  background: hsl(0, 0%, 82%);
  border-color: hsl(0, 0%, 60%);
}

button {
  font-family: system-ui, /* macOS 10.11-10.12 */ -apple-system,
    /* Windows 6+ */ Segoe UI, /* Android 4+ */ Roboto,
    /* Ubuntu 10.10+ */ Ubuntu, /* Gnome 3+ */ Cantarell,
    /* KDE Plasma 5+ */ Noto Sans, /* fallback */ sans-serif;
  background: hsl(0, 0%, 98%);
}

button:hover {
  background: hsl(0, 0%, 92%);
  border-color: hsl(0, 0%, 65%);
}

.updated {
  font-size: 0.8rem;
}

main {
  margin: 2rem calc(6vw - 1rem) 2rem 6vw;
  display: flex;
  flex-flow: row wrap;
}

.loading {
  stroke: hsl(0, 56%, 60%);
  width: 6rem;
}

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  padding: 0 6vw 2rem;
  font-size: 0.75rem;
}

footer a,
footer a:visited {
  color: hsl(209, 100%, 50%);
}

footer a:hover,
footer a:focus {
  color: hsl(0, 0%, 15%);
}

.devlogo:link,
.devlogo:visited {
  color: hsl(0, 0%, 40%);
}

.devlogo:hover,
.devlogo:active {
  color: hsl(0, 0%, 15%);
}
