.statcard {
  margin-bottom: 3rem;
  flex: 0 1 14rem;
  margin-right: 1rem;
}

dt {
  font-weight: 600;
}

.cases__total,
.cases__new,
.cnd__critical,
.cnd__dead,
.cnd__died,
.cnd__deadly,
.rnt__tests {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.cases,
.cnd {
  padding-bottom: 0.1rem;
  margin-bottom: 0.4rem;
}

.cases {
  border-left: 3px solid var(--orange);
  padding-left: 0.4em;
}

.cnd {
  border-left: 3px solid var(--red);
  padding-left: 0.4em;
}

.rnt {
  border-left: 3px solid var(--blue);
  padding-left: 0.4em;
}

.rnt--all {
  border-left: 3px solid var(--green);
  padding-left: 0.4em;
}

.cases dt,
.cnd dt,
.rnt dt,
.rnt--all dt {
  margin-right: 0.8ch;
}
