.statcard {
  margin-bottom: 3rem;
  flex: 0 1 14rem;
  margin-right: 1rem;
}

dt {
  font-weight: 600;
}

.cases__total,
.cases__new,
.cnd__critical,
.cnd__dead,
.cnd__died,
.cnd__deadly,
.rnt__recovered,
.rnt__tests {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
}

.active,
.cases,
.cnd {
  padding-bottom: 0.1rem;
  margin-bottom: 0.4rem;
}

.cases {
  border-left: 3px solid hsl(34, 93%, 61%);
  padding-left: 0.4em;
}

.cnd {
  border-left: 3px solid hsl(3, 93%, 60%);
  padding-left: 0.4em;
}

.rnt {
  border-left: 3px solid hsl(192, 82%, 64%);
  padding-left: 0.4em;
}

.rnt--all {
  border-left: 3px solid hsl(88, 52%, 55%);
  padding-left: 0.4em;
}

.active {
  display: flex;
  flex-flow: column nowrap;
}

.active dd {
  order: 1;
  font-size: calc(1.8rem + 1vmin);
  font-weight: 900;
  line-height: 1;
}

.active dt span {
  font-size: 0.8em;
  font-weight: 400;
}

.active.percent dd {
  font-size: calc(1rem + 1vmin);
}

.active dt {
  order: 2;
  text-transform: lowercase;
  line-height: 1;
  margin-bottom: 0.3em;
}

.cases dt,
.cnd dt,
.rnt dt,
.rnt--all dt {
  margin-right: 0.8ch;
}
