body.light {
  --text: hsl(0, 0%, 15%);
  --htext: hsl(0, 0%, 30%);
  --bodybackground: hsl(0, 0%, 95%);
  --headerbackground: hsl(0, 0%, 90%);
  --border: hsl(0, 0%, 75%);
  --title: hsl(0, 56%, 60%);
  --btnback: hsl(0, 0%, 85%);
  --btndeactback: hsl(0, 0%, 75%);
  --btndeactborder: hsl(0, 0%, 60%);
  --btnhoverback: hsl(0, 0%, 92%);
  --btnhoverborder: hsl(0, 0%, 65%);
  --casebar: hsla(0, 0%, 85%, 0.6);
  --casebarborder: var(--border);
  --red: hsl(3, 93%, 60%);
  --orange: hsl(34, 93%, 61%);
  --blue: hsl(192, 82%, 64%);
  --green: hsl(88, 52%, 55%);
  --lightmode: var(--btndeactback);
  --darkmode: var(--btnback);
}
